<form #form="ngForm" [formGroup]="form_receta_update">

    <div class="row">
        <div class="form-group col-md-4">
            <label class="form-label" for="attr_nombreReceta"><H5>Nombre</H5></label>
            <input type="text" class="form-control" style="background-color: #f8e7fd;" id="attu_nombreReceta" formControlName="nombreReceta">
        </div>
        <div class="form-group col-md-3">
            <label class="form-label" for="attr_tipReceta"><H5>Tipo</H5></label>
            <input type="text" step="1" class="form-control" style="background-color: #f8e7fd;" id="attu_tipReceta" formControlName="tipReceta">
        </div>
        <div class="form-group col-md-5">
            <label class="form-label" for="attr_desReceta"><H5>Descripcion</H5></label>
            <input type="text" step="1" class="form-control" style="background-color: #f8e7fd;" id="attu_desReceta" formControlName="desReceta">
        </div>
       
    </div>
    <div class="row">
        <div class="form-group col-lg-2">
            <label class="form-label"><H5></H5></label>
            <button class="btn btn-success btn-block" (click)="agregarInsumo()"><i class="icmn-plus"> Insumo</i></button>
        </div>       
    </div>
    <div class="row col-lg-12">
        <div formArrayName="insumos" *ngFor="let item of form_receta_update.get('insumos')['controls']; let i = index;">
            <div [formGroupName]="i">
                <div  class="row">
                    <div class="form-group col-lg-12">
                        <label><strong>INSUMO {{i+1}}</strong></label>
                    </div>
                </div>
                
                <form-insumo-update [insumos]="insumos" [form_insumo_update]="form_receta_update.get('insumos')['controls'][i]"></form-insumo-update>
            </div>
        </div>

        <div class="form-actions col-md-12">
            <button type="button" class="btn btn-success btn-lg btn-block" [disabled]="!form_receta_update.valid" (click)="onSubmit(form_receta_update.value,form_receta_update.valid)">Registrar</button>
        </div>
    </div>

</form>