<form #form="ngForm" [formGroup]="form_insumos_update">
    <div class="row">
        <div class="form-group col-md-12">
            <label class="form-label" for="attu_nombreInsumos"><H5>Nombre</H5></label>
            <input type="text" class="form-control" style="background-color: #f8e7fd;" id="attu_nombreInsumos" formControlName="nombreInsumos">
        </div>
        <div class="form-actions col-md-12">
            <button type="button" class="btn btn-success btn-lg btn-block" [disabled]="!form_insumos_update.valid" (click)="onSubmit(form_insumos_update.value,form_insumos_update.valid)">Actualizar</button>
        </div>
    </div>
</form>